<%- model_class = Person -%>
<div class="page-header">
  <h1>Tickets for <%= @person.name %></h1>
</div>

<dl class="dl-horizontal">


  <table>
    <tr>
      <td><b>Date</b></td>
      <td><b>Title</b></td>
      <td><b>Description</b></td>
    </tr>
    <% for ticket in @person.tickets %>
        <tr>
          <td><%= ticket.cdate %></td>
          <td><%= ticket.title %></td>
          <td><%= ticket.desc %></td>
        </tr>
    <% end %>
  </table>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              people_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_person_path(@person), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              person_path(@person),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
