<!DOCTYPE html>
<html>
<head>
  <title>IndividualProject</title>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon bar"></span>
        <span class="icon bar"></span>
        <span class="icon bar"></span>
      </a>
      <a class="brand" href="#"> Help Desk </a>
      <div class="nav-collapse">
       <ul class="nav">
         <li class="active"><%= link_to "Home", tickets_path %></li>
         <li><%= link_to "Customer", people_path %> </li>

       </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
    <div class="span3">
    </div>
  </div>
</div>

</body>
</html>
